@import "../style.scss";

.skills__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: $xl-padding $l-padding;
}

.skills__title{ flex: 1; }

.skills__title h1 { 
    margin-bottom: $s-padding;
    font-family: $second-font-family;
    font-size: 48px;
    color: $cream;
}
.skills__title p { 
    font-family: $main-font-family;
    font-size: 20px;
    color: $sage;
}

.skills{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 0.15fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
}

.skill:nth-child(1){ grid-row-start: 1; grid-row-end: 2; grid-column-start: 1; grid-column-end: 2;}
.skill:nth-child(2){ grid-row-start: 1; grid-row-end: 2; grid-column-start: 3; grid-column-end: 4;}
.skill:nth-child(3){ grid-row-start: 1; grid-row-end: 2; grid-column-start: 5; grid-column-end: 6;}
.skill:nth-child(4){ grid-row-start: 2; grid-row-end: 2; grid-column-start: 2; grid-column-end: 3;}
.skill:nth-child(5){ grid-row-start: 2; grid-row-end: 3; grid-column-start: 4; grid-column-end: 5;}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill img{ 
    height: 64px;
    width: 64px;
    margin-bottom: $s-padding;
}

.line {
    background: $cream;;
    height: 8px;
    border-radius: 5px;
    width: 25%;
    margin: $s-padding 0;
}