@import '../style.scss';

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    background: $jet;

    font-weight: 700;
    padding: $m-padding;
}

.navbar-logo{ flex: 1; }
.navbar-logo-image{
    width: 200px;
    height: auto;
}


.navbar-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.navbar-link{
    color: $sage;  
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: $m-padding;
}